.Board {
  background-color: white;
  width: calc((7 / 6) * 70vmin);
  height: calc(70vmin + 5rem);
  max-height: 80vh;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 70vmin;
}

.BoardGrid {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  background-color: grey;
  padding: 0.5rem;
}

.BoardGridColumn {
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-rows: repeat(6, 1fr);
  background-color: white;
}
