.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: grid;
  grid-template-rows: 15vh 1fr 5vh;
}

.App-header {
  height: 15vmin;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.App-game {
  margin: 0 auto;
}
