.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: grid;
  grid-template-rows: 20vh 1fr;
}

.App-header {
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-game {
  margin: 0 auto;
  align-self: center;
}
